.navBarContainer {
  margin: 0 auto;
  width: calc(80vw - 8vw);
  padding: 0.55rem 1.0875rem;
  border-bottom: 1px solid lightgrey;

  // background-color: #f6f9fc;
  // border-bottom: 1px solid rgba(179, 198, 230, 0.6);
  // box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBarContainer * {
  color: #222222;
  text-decoration: none;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.navBarContainer *:hover {
  color: #181818;
}

.navBarElementDeco {
  transform: rotate(-2deg);
  padding: 0 12px;
  * {
    position: relative;
    display: inline-block;
    transform: rotate(2deg);
  }
}

.hasBackgroundBlue {
  background-color: #87E0FF;
  // background-color: #83d0f2
}

.hasBackgroundYellow {
  background-color: #FCF3B0;
}

.hasBackgroundRed {
  background-color: #FFB0B0;
}

@media only screen and (max-width: 480px) {
  
}
