.projects {
  display: flex;
  align-items: stretch;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.projectContainer {
  width: 20vw;
  padding: 18px 12px;
  margin: 0 12px 12px 0;
  background-color: rgba(230, 236, 239, 0.2);
  border: 1px solid lightgrey;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.urlContainer {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 1.4rem;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .projects {
    display: flex;
    justify-content: center;
  }
}
