.container {
  padding: 2rem;
  width: 20vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f9fc;
  // background: linear-gradient(top, #185694 0%, #106cc8 100%);
  // background-image: linear-gradient(160deg, darken($blue, 10%), lighten($blue, 10%), darken($blue, 10%));

  border-right: 1px solid rgba(179, 198, 230, 0.6);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.image {
  margin: 0;
}

.information {
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-top: 1.2rem;
}

.contact {
  display: flex;
  justify-content: flex-start;
}

.contact span:hover {
  cursor: pointer;
}

.logo {
  width: 1.4em;
  margin: 0.6em 0.8em 0 0;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100vw;
    padding: 1rem;
  }

  .information {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 50vw;
  }
}
